body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5dc; 
}

.register {
    background-color: #fffacd; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #800080; 
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #8b4513; 
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #228b22; 
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006400; 
}

select {
    background-color: #d3d3d3; 
}